*{
    box-sizing: border-box;
}
body{
    margin: 0 50px;

}

.btech{
    border: 3px solid black;
    margin: 0 150px;
    
}

.year1{
    background-color: beige;
    width: 25%;
    float: left;
    padding: 10px;
}
.year2{
    background-color: burlywood;
    width: 25%;
    float: left;
    padding: 10px;
}
.year3{
    background-color: bisque;
    width: 25%;
    float: left;
    padding: 10px;
}
.year4{
    background-color: rgb(228, 161, 161);
    width: 25%;
    float: left;
    padding: 10px;
}
h2{
    text-align: center;
    font-size: 30px;
}

.btech::after{
    content: "";
    display: block;
    clear: both;
}
.main{
    border: 3px solid chocolate;
    padding: 20px;
}